[submodule "arduino/code/lib/logging"]
	path = arduino/code/lib/logging
	url = git@github.com:mrRobot62/Arduino-logging-library.git
[submodule "econotag/contiki"]
	path = econotag/contiki
	url = git@github.com:contiki-os/contiki.git
